@font-face {
  font-family: 'Headache';
  src: url('../fonts/Headache.otf');
}

@font-face {
    font-family: 'Futura';
    src: url('../fonts/futura/futura.ttf');
}

@font-face {
    font-family: 'Futura';
    src: url('../fonts/futura/futura-bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'Futura';
    src: url('../fonts/futura/futura-mcbt.ttf');
    font-weight: medium;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    font-family: 'Futura';
    letter-spacing: 2px;
}

h2 {
    font-family: 'Futura', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}

p, li, a, span {
    font-size: 1.6rem;
}

.main-navbar {
    width: 100%;
    background: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    margin-left: 3rem;
}

.navbar-brand .logo {
    min-width: 50px;
    min-height: 50px;
    width: 50px;
    height: 50px;
    margin: 1rem;
}

.navbar-nav {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin-left: 1rem;
}

.navbar-nav li {
    margin-right: 3rem;
}

.navbar-nav li:last-child {
    margin-right: 3rem;
}

.navbar-nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.4rem;
    font-weight: bold;
}

.header {
    background: url('../img/texture.jpg');
    background-size: cover;
    padding: 5rem 0;
    text-align: center;
    width: 100%;
}

.main-title {
    font-size: 5rem;
    margin-bottom: 1rem;
    font-family: "Headache";
}

.main-subtitle {
    text-transform: uppercase;
    font-size: 2rem;
    margin-bottom: 7rem;
}

.trailer {
    background: #333;

    width: 60vw;
    height: auto;
    margin: 0 auto;
}

.trailer img {
    text-align: center;
}

.about {
    width: 75%;
    margin: 0 auto;
    padding: 10rem 0;

    text-align: center;
}

#desirium {
    background: url('../img/desirium-about-bg.png');
    background-size: cover;
}

#desirium .about {
    color: #fff;
}

.about-title {
    text-transform: uppercase;
    font-family: 'Futura';
    font-size: 4rem;
    margin: 1rem 0;
}

.about-body {
    font-size: 2rem;
}

#broken {
    padding: 0 3rem 6rem 0;
    background: url('../img/fondsite.jpg');
    background-size: contain;
}

.team {
    width: 75%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    align-items: start;
}

.team-member {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.team-member:last-child:nth-child(3n - 2) {
    grid-column-start: 2;
}

.team-member-photo {
    overflow: hidden;
}

.team-member-photo img {
    width: 100%;
    height: auto;
    min-width: 100px;
    min-height: 100px;
}

.team-member-name {
    font-size: 2.6rem;
    font-weight: bold;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    margin-top: 2rem;
}

.team-member-desc {
    font-size: 2rem;
    width: 90%;
    margin: 0rem auto 2rem auto;
    text-align: justify;

}

.team-member-role {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin: 1rem 0 2rem 0;

}

#contact {
    padding: 5rem 12.5%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #DEDEDE;
}

#contact .about-title {
    text-align: center;
    margin: 3rem 0 5rem 0;
}

.contact-form {
    border: 5px solid #000;
    padding: 5rem;
}

.form-row {
    display: flex;
    align-items: center;
    margin-top: 3rem;
}

.form-control {
    margin-left: 3vw;
}

.form-control:first-child {
    margin-left: 0;
}

.form-control label, .form-control input {
    display: block;
    font-size: 1.6rem;
}

.form-control label {
    font-weight: bold;
    text-transform: uppercase;
}

.form-control input {
    width: 20vw;
    border: none;
    padding: 0.8rem 1rem;
    margin-top: 1rem;
}

.form-control textarea {
    width: 43vw;
    max-width: 43vw;
    min-width: 43vw;
    border: none;
}

.contact-form input[type='submit'] {
    margin-top: 3rem;
    background: none;
    border: 3px solid #000;
    font-weight: bold;
    padding: 0.8rem 1.8rem;
    cursor: pointer;
    transition: all 500ms;
    font-size: 1.4rem;
}

.contact-form input[type='submit']:hover {
    background: #000;
    color: #fff;
}

.main-footer{
    background: #000;
    margin: 0;
    padding: 3rem;
}

.main-footer-navigation {
    margin: 0;
    display: flex;
    align-items: center;
}

.main-footer-navigation li {
    margin-left: 3rem;
}

.main-footer-navigation li:first-child {
    margin-left: 0;
}

.main-footer-navigation a {
    color: #fff;
    text-decoration: none;
}

@media (max-width: 576px) {
    .team {
        grid-template-columns: 1fr;
    }
    .about {
        text-align: left;
        padding: 5rem 0;
    }
}

@media (max-width: 768px) {
    .team {
        grid-template-columns: 1fr 1fr;
    }
    .form-row {
        display: block;
        margin-top: 0;
    }
    .form-control {
        margin-left: 0;
    }
    .form-control input {
        width: 100%;
        margin-bottom: 2rem;
    }
    .form-control textarea {
        margin-top: 1rem;
    }
    .contact-form input[type="submit"] {
        margin-top: 1rem;
    }
    .team {
        width: 90%;
        justify-content: center;
    }
}

@media (max-width: 992px) {
    .team {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 1200px) {
    .team {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
